asgiref==3.6.0
gunicorn==20.1.0
cachetools==5.3.1
certifi==2024.8.30
charset-normalizer==3.4.0
dj-database-url==2.3.0
Django==4.2.12
django-cors-headers==4.6.0
django-environ==0.11.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
environ==1.0
idna==3.10
pillow==9.5.0
proto-plus==1.20.1
protobuf==4.24.3
psycopg2-binary==2.9.10
PyJWT==2.6.0
pyparsing==3.0.9
python-http-client==3.3.7
requests==2.31.0
rsa==4.8
sqlparse==0.5.2
typing_extensions==4.9.0
tzdata==2024.2
urllib3==1.26.16
